<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fis.abcBank.mapper.UserMapper">
    <!--  Create  -->
    <insert id="create" parameterType="fis.abcBank.dto.request.UserRequest">
        <![CDATA[
        INSERT
            INTO ABC_USER (
                username,
                user_password,
                user_role
            )
                VALUES (
                #{username},
                #{userPassword},
                #{userRole}
            )
        ]]>
    </insert>
    <!--  Update  -->
    <update id="update" parameterType="fis.abcBank.dto.request.UserRequest">
        <![CDATA[
        UPDATE ABC_USER
            SET username = #{username},
                user_password = #{userPassword},
                user_role = #{userRole}
        WHERE user_id = #{userId}
        ]]>
    </update>
    <!--  Get all  -->
    <select id="getUserList" parameterType="fis.abcBank.dto.request.UserRequest" resultType="fis.abcBank.dto.response.UserResponse">
        SELECT *
        FROM (
                 <![CDATA[
                 SELECT
                  ROW_NUMBER() OVER (ORDER BY user_id DESC) as rnum,
--                      ROWNUM as rnum,
                        user_id as userID,
                        username,
                        user_password as userPassword,
                        user_role as userRole
                 FROM ABC_USER
                 ]]>
        <where>
            <if test="userID != 0">
                AND user_id = #{userID}
            </if>
            <if test="username != null and username != ''">
                <![CDATA[AND UPPER(username) LIKE CONCAT('%', UPPER(#{username}), '%')]]>
            </if>
            <if test="userRole != null and userRole != ''">
                <![CDATA[AND UPPER(user_role) LIKE CONCAT('%', UPPER(#{userRole}), '%')]]>
            </if>
        </where>
             ) as temp
        <where>
            <if test="pageSize > 0">
                <![CDATA[AND temp.rnum BETWEEN (#{pageSize} * (#{pageNumber} - 1) + 1) AND (#{pageSize} * #{pageNumber})]]>
            </if>
        </where>
    </select>
        <!--  count row  -->
    <select id="count"
            parameterType="fis.abcBank.dto.request.UserRequest"
            resultType="Integer">
        <![CDATA[SELECT COUNT(*) FROM ABC_USER ]]>
        <where>
            <if test="userID != 0">
                AND user_id = #{userID}
            </if>
            <if test="username != null and username != ''">
                <![CDATA[AND UPPER(username) LIKE CONCAT('%', UPPER(#{username}), '%')]]>
            </if>
            <if test="userRole != null and userRole != ''">
                <![CDATA[AND UPPER(user_role) LIKE CONCAT('%', UPPER(#{userRole}), '%')]]>
            </if>
        </where>
    </select>
    <delete id="delete" parameterType="fis.abcBank.dto.request.UserRequest">
        <![CDATA[ DELETE FROM ABC_USER WHERE user_id = #{userID}]]>
    </delete>
</mapper>
